body {
    background-color: #23252c;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.card {
    width: 317px;
    background-color: #1a1b21;
    border-radius: 10px;
}

/* Profile Photo */

.profile-photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Main */

.main-section {
    padding: 0 35px;
}

.details {
    text-align: center;
}

.name {
    color: #ffffff;
    font-size: 25px;
    margin: 21px 0 0 0;
}

.role {
    font-size: 13px;
    color: #f3bf99;
    margin: 6px 0 0 0;
}

.portfolio {
    font-size: 10px;
    color: #f5f5f5;
    margin: 9px 0 0 0;
}

/* Buttons */

.btns {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 33px 0;
}

button {
    font-size: 14px;
    padding: 9px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    color: #374151;
}

button img {
    margin-right: 6px;
}

button div {
    display: flex;
}

.linkedin {
    background-color: #5093e2;
    color: #ffffff;
}

.linkedin img {
    height: 14px;
}

/* Intro */

.topic {
    margin: 0 0 5px 0;
    font-size: 16px;
    color: #f5f5f5;
}

.topic-details {
    font-size: 10px;
    color: #dcdcdc;
    margin: 0 0 27px 0;
}

/* Footer */

.social {
    background-color: #161619;
    display: flex;
    justify-content: space-between;
    padding: 19px 73px;
    border-radius: 0 0 10px 10px;
}

.social-icons {
    width: 26px;
    cursor: pointer;
}
